/* Prevent image context menus and text selection on mobile tap */
#myBoard img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  pointer-events: none; /* Allows click events to pass directly to the board square below */
}

/* Highlight square styles */
.highlight-square {
  box-shadow: inset 0 0 3px 3px rgba(255, 255, 0, 0.75);
  background-color: rgba(255, 255, 0, 0.4) !important;
}

.selected-square {
  background-color: rgba(105, 146, 62, 0.8) !important;
}
